@{
    ViewData["Title"] = "Gifts";
}

<div class="row margin-top-lg clearfix">
    <div class="col-xs-12 col-sm-12">
        <div class="panel panel-default background-darkGray">
            <div class="panel-body">
                <div class="iconSection-sm">
                    <div style="font-size:75px; position:absolute; top:0px; left:5px;" class="ltGray">
                        <i class="fa fa-plane"></i>
                    </div>
                    <div style="font-size:35px; position:absolute; top:45px; left:50px;" class="accent">
                        <i class="fa fa-gift"></i>
                    </div>
                </div>
                <div class="row row-withIconSection">
                    <div class="col-xs-12 ltGray">
                        <h1 class="margin-top-none">Gift List</h1>
                        <p>The most important gift to us is to have you share our day, but if you do wish to buy us something then we have put together this list so that you can help us to plan an amazing honeymoon. If you would prefer to give us something more traditional there are also a few items for our home on the list.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12">
        <div class="panel panel-default background-ltGray">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <img src="https://prezola.com/staticfiles/img/sitelogo.f47a477fc7b4.svg" alt="Prezola" style="background:#ffffff; padding:10px;" />
                    </div>
                    <div class="visible-xs-block">
                        <p>&nbsp;</p>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <p>We have created our gift list at Prezola to make it easy to use. Unfortunately (and of course, much to Paul's annoyance) it does mean you will need to go to the Prezola website.</p>
                        <p><a class="btn btn-primary" role="button" href="https://prezola.com/wishlists/10162640" target="_blank">Vist Our List <i class="fa fa-gift"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
