@{
    ViewData["Title"] = "The Day";
}

<div class="row margin-top-lg clearfix">
    <div class="col-xs-12 col-sm-12">
        <div class="panel panel-default background-darkGray">
            <div class="panel-body">
                <div class="iconSection-sm">
                    <div style="font-size:75px; position:absolute; top:0px; left:5px;" class="ltGray">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div style="font-size:18px; position:absolute; top:38px; left:40px;" class="accent">
                        <i class="fa fa-check"></i>
                    </div>
                </div>
                <div class="row row-withIconSection">
                    <div class="col-xs-12 ltGray">
                        <h1 class="margin-top-none"><span class="ltGray">The </span>Day</h1>
                        <p>All the information you will need to help us celebrate our big day.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="panel panel-default background-ltGray">
            <div class="panel-body">
                <div class="iconSection">
                    <div class="visible-xs">
                        <div style="font-size:75px; position:absolute; top:0px; left:5px;" class="darkGray">
                            <i class="fa fa-circle"></i>
                        </div>
                        <img style="position:absolute; top:10px; left:20px; width:40px;" alt="Gaynes Park" src="/images/gp-icon.png">
                    </div>
                    <div class="hidden-xs">
                        <div style="font-size:150px; position:absolute; top:0px; left:5px;" class="darkGray">
                            <i class="fa fa-circle"></i>
                        </div>
                        <img style="position:absolute; top:20px; left:35px; width:80px;" alt="Gaynes Park" src="/images/gp-icon.png">
                    </div>
                </div>
                <div class="row row-withIconSection">
                    <div class="col-xs-12">
                        <h2 class="margin-top-none">The Venue</h2>
                        <img src="~/images/gp.jpg" class="img-responsive hidden-xs margin-bottom-md" alt="The place to say I Do"/>
                        <p>
                            We will be having our special day at Gaynes Park, to quote their website;
                        </p>
                        <p>
                            <i>Gaynes Park is a stylish and contemporary barn wedding venue in the grounds of a historic country estate in Epping, Essex easily accessible from London, being only minutes from the M25 and M11 at Epping.</i>
                        </p>
                        <p>
                            <i>It is approached up a long drive, through parkland and farmland, which is immediately impressive and calming. The Orangery, the Gather Barn and the Mill Barn  have all been artistically and imaginatively refurbished creating a stylish and relaxed atmosphere. The Walled Garden is pretty all year round making Gaynes Park perfect for weddings in all seasons.</i>
                        </p>
                        <p>
                            If you want to find out more you can visit their website <a href="http://www.gaynespark.co.uk/" alt="Venue Web Site" target="_blank">gaynespark.co.uk</a>
                        </p>
                        <p>
                            <b>Confetti</b> – Please note that Gaynes Park only allow natural petal based confetti. We will have lots there for you to throw but if you do want to bring your own make sure it is the right type. <a href="http://www.shropshirepetals.com/" target="_blank">shropshirepetals.com</a> stock a range.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="panel panel-default background-ltGray">
            <div class="panel-body">
                <div class="iconSection">
                    <div class="visible-xs">
                        <div style="font-size:15px; position:absolute; top:4px; left:30px;"  class="accent">
                            <i class="fa fa-square"></i>
                        </div>
                        <div style="font-size:15px; position:absolute; top:4px; left:40px;" class="accent">
                            <i class="fa fa-square"></i>
                        </div>
                        <div style="font-size:65px; position:absolute; top:6px; left:5px;" class="darkGray">
                            <i class="fa fa-car"></i>
                        </div>
                    </div>
                    <div class="hidden-xs">
                        <div style="font-size:30px; position:absolute; top:7px; left:60px;" class="accent">
                            <i class="fa fa-square"></i>
                        </div>
                        <div style="font-size:30px; position:absolute; top:7px; left:75px;" class="accent">
                            <i class="fa fa-square"></i>
                        </div>
                        <div style="font-size:130px; position:absolute; top:10px; left:5px;" class="darkGray">
                            <i class="fa fa-car"></i>
                        </div>
                    </div>
                </div>
                <div class="row row-withIconSection">
                    <div class="col-xs-12">
                        <h2 class="margin-top-none">Transport</h2>
                        <h3>Driving</h3>
                        <p>
                            Gaynes Park is conveniently located just 10 minutes from both the M25 and M11 and two miles from Epping town centre. There is ample parking at the venue.  Cars can be left overnight, they must be collected by 10:00am on Sunday.
                        </p>
                        <p>
                            Use postcode:  CM16 7RJ for satnavs.
                        </p>
                        <h3>Taxis</h3> 
                        <p>
                            For those requiring taxis at the end of the night please ensure you book in advance due to the remote location. <b>Return taxis should be arranged for between 11:30 and 11:45pm.</b>
                        </p>
                        <p>
                            Local taxi companies include:
                        </p>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6 text-center">
                                <p>
                                    <span class="accent">Lawlor Car Services</span><br />
                                    01992 577888
                                </p>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6 text-center">
                                <p>
                                    <span class="accent">Sadlers Taxis</span><br />
                                    01992 666666
                                </p>
                            </div>
                        </div>
                        <h3>Rail</h3>
                        <p>
                            The venue is located a short taxi ride from Epping underground station (central line). There is a taxi rank at the station.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="panel panel-default background-ltGray">
            <div class="panel-body">
                <div class="iconSection">
                    <div class="visible-xs">
                        <div style="font-size:75px; position:absolute; top:0px; left:5px;" class="darkGray">
                            <i class="fa fa-circle-o"></i>
                        </div>
                        <div style="font-size:30px; position:absolute; top:20px; left:20px;" class="accent">
                            <i class="fa fa-check fa-flip-horizontal"></i>
                        </div>
                    </div>
                    <div class="hidden-xs">
                        <div style="font-size:150px; position:absolute; top:0px; left:5px;" class="darkGray">
                            <i class="fa fa-circle-o"></i>
                        </div>
                        <div style="font-size:60px; position:absolute; top:40px; left:35px;" class="accent">
                            <i class="fa fa-check fa-flip-horizontal"></i>
                        </div>
                    </div>
                </div>
                <div class="row row-withIconSection">
                    <div class="col-xs-12">
                        <h2 class="margin-top-none">Times</h2>
                        <p>
                            This is the rough timeline for how the day will run, on the day it will of course depend on how long it takes Kari to get ready ;-)
                        </p>
                        <p>
                            <b>Day guests can arrive from 1:30pm</b>
                        </p>
                        <p>
                            2:00pm Ceremony
                        </p>
                        <p>
                            2:30pm Drinks Reception
                        </p>
                        <p>
                            4:00pm Wedding Breakfast
                        </p>
                        <p>
                            <b>Evening Guests to join the party at 7:00pm</b>
                        </p>
                        <p>
                            7:00pm Evening Reception
                        </p>
                        <p>
                            7:30pm Drinking and Dancing
                        </p>
                        <p>
                            8:30pm Evening Food
                        </p>
                        <p>
                            11:30pm Bar Closes
                        </p>
                        <p>
                            <b>Carriages for 11:45pm</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default background-ltGray">
            <div class="panel-body">
                <div class="iconSection">
                    <div class="visible-xs">
                        <div style="font-size:75px; position:absolute; top:0px; left:5px;" class="darkGray">
                            <i class="fa fa-male"></i>
                        </div>
                        <div style="font-size:50px; position:absolute; top:28px; left:40px;" class="accent">
                            <i class="fa fa-child"></i>
                        </div>
                    </div>
                    <div class="hidden-xs">
                        <div style="font-size:150px; position:absolute; top:0px; left:5px;" class="darkGray">
                            <i class="fa fa-male"></i>
                        </div>
                        <div style="font-size:100px; position:absolute; top:55px; left:80px;" class="accent">
                            <i class="fa fa-child"></i>
                        </div>
                    </div>
                </div>
                <div class="row row-withIconSection">
                    <div class="col-xs-12">
                        <h2 class="margin-top-none">Children</h2>
                        <p>An important note regarding the little people: in order to allow all of our guests, including parents, a day of relaxation we have chosen for our wedding to be an adult only occasion.</p>
                        <p>We hope this advance notice means you are still able to make arrangements so you can share in our big day.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
